<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About-kappa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="About-kappa - Appication accessing Technopedia">
  <meta name="author" content="karthik(karthikprasad@engineer.com)">

  <!-- Le styles -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">

  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  </style>
  <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

  <style type="text/css">
    @media (min-width: 768px) { 
      .side-fix{
        position: fixed;
      } 
    }

    li{
      font-size: 17px;
    }

    p.lead{
      text-align: justify;
      font-size: 14px;
    }
  </style>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Fav and touch icons -->
      <link rel="shortcut icon" href="../static/img/kappa.ico">
    </head>

    <body>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" style="padding-bottom:0px; padding-right:8px;" href="/">
              <img style="height:32px; width:53px; margin:-4px 0 0 4px" src="../static/img/kappa-black.png" />
            </a>
            <div class="nav-collapse collapse nav"> 
              <ul class="nav">
                <li class="navbarli" style="padding-top:12px; padding-bottom:10px;">
                  ...the Technical Fact Engine
                </li> 
              </ul>
            </div>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class="navbarli" id="home" class="active"><a href="/">Home</a></li>
                <li class="navbarli" id="about"><a href="/about">About</a></li> 
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>



      <div id="content" class="container">
        <div class="row">
          <!-- Main hero unit for a primary marketing message or call to action -->
          
          <div class="span3 side-fix" style="text-align:center">
            <div  style="text-align:center; margin: 20px 0 10px 0;" >
              <img style="height:108px; "src="../static/img/Technopedia-black.png" />
              <img style="height:83px; margin-top:20px"src="../static/img/kappa-red.png" />
            </div>
          </div>


          <div class="span9 pull-right">
            <p>
              <h2>Technopedia kappa</h2>
              <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;Application accessing Technopedia
              </h4>
              <br />

              <p class="lead">
                Software developers face various issues in the software development lifecycle. The solution, more often than not, is to go through some technical documentation. Unfortunately, documentation can be very unstructured, distributed and difficult to comprehend.

                Our solution to this problem involves two phases. Structuring technical documentation by semanticizing it; and thereby facilitating the easy visualization of relevant knowledge through an application. 

                Structuring the documents - by creating a linked data store - enables the easy retrieval of relevant information. Linked data has the special quality of being highly interlinked and structured. It uses standard Web technologies such as HTTP and URIs and extends them to share information in a way that can be read automatically by computers. This enables data from disparate sources to be connected and queried. 

                This structured repository will be a very useful contribution to the community of computer science and can be used by any application.  In the future, IDEs would be equipped with such machine readable semantic datasets and would thereby be able to assist software engineers at a semantic level in managing the complexity of development, integration and maintenance projects.

                Using the structured knowledge base, our application will be able to make more intelligent choices about the nugget of knowledge that the information seeker is looking for and represent it in a manner that is easy to comprehend.
              </p>
            </p>
          </div><!-- /hero-unit -->
        </div>

        <div class="span12">
          <hr>
          <footer style="text-align:center">
            <p>This application has been built for academic purpose and is not intended for commercial use.</p>
          </footer>
        </div>

      </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-182.js"></script>
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>


  </body>
  </html>
